*.iml
.gradle
/Frontend/WerqoutFrontend/local.properties
/Frontend/WerqoutFrontend/.idea/caches
/Frontend/WerqoutFrontend/.idea/libraries
/Frontend/WerqoutFrontend/.idea/modules.xml
/Frontend/WerqoutFrontend/.idea/workspace.xml
/Frontend/WerqoutFrontend/.idea/navEditor.xml
/Frontend/WerqoutFrontend/.idea/assetWizardSettings.xml
.DS_Store
/Frontend/WerqoutFrontend/build
/Frontend/WerqoutFrontend/captures
.externalNativeBuild
.cxx
local.properties

#env
.env